body {
  margin: 0;
  background-color: hsl(222, 100%, 96%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.elon-hero {
  color: rgb(255, 255, 255);
  width: 100%;
  background-color: #000000;
}
.elon-hero img {
  max-width: 500px;

  background-color: #ffffff;
}
.elon-hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.elon-hero-text-desc p {
  margin: 10px;
  height: auto;
  font-size: large;
  align-items: end;
}
.cont-elon-hero-text-desc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.elon-hero-text-desc {
  width: 100%;
  background-color: #101d3c;
}
.elon-hero h1 {
  font-size: 50px;
}
ul li {
  font-weight: bold;
}

.more-options-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(141, 141, 141);
  color: white;
  width: 25px;
  height: 25px;

  border-radius: 100%;
}
footer {
  min-height: 100px;
  width: 100%;
  background-color: #101d3c;
}
.footer-img {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.footer-img img {
  width: 40px;
  height: 40px;
  background-color: aliceblue;
  border-radius: 50px;
}

.footer-copy {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #404e6e;
  font-size: 15px;
}
.center {
  display: flex;
  justify-content: center;
}

.more {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.column {
  display: flex;
  flex-direction: column;
}
